.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    filter: brightness(50%);
    opacity: 0.9;
}
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.menur ul {
    alignment: center;
    position: absolute;
    list-style-type: none;
    margin: 1.7vh 35vh;
    padding: -5vh;
    overflow: hidden;
    z-index: 1;
}

.menur li {
    float: right;
}

.menur li a {
    font-family: "Google Sans";
    color: white;
    font-size: 2.5vh;
    padding: 3vh;
}

#logo {
    position: absolute;
    left: 2vh;
    top: 2.9vh;
    z-index: 1;
}

.container-contact100 {
    width: 99%;
    margin-top: 3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    z-index: 1;
}

.wrap-contact100 {
    width: 170vh;
    /*margin-top: 100px;*/
    background: #fff;
    border-radius: 10px;
    padding: 2em 1em 1em 1em;
    position: relative;
}

.show-wrap-contact100 {
    visibility: visible;
    opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0px;
}

.contact100-form-title {
    display: block;
    width: 100%;
    font-family: "Google Sans";
    font-size: 5vh;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 4vh;
}

.titler {
    color: #333333;
    font-family: "Google Sans";
}

.titler2 {
    color: #333333;
    font-size: 15px;
    line-height: 20px;
    font-family: "Google Sans";
}

.inftitle {
    color: #333333;
    margin-top: -20px;
    font-family: "Google Sans";
}

.feedbacker {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    font-size: 2.5vh;
    font-family: "Google Sans", sans-serif;
    /*border-collapse: separate;*/
    /*border-spacing: 12vh 1vh;*/
}

.btn_admn {
    background: none repeat scroll 0 0 padding-box #B7392D;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn_sotr {
    background: none repeat scroll 0 0 padding-box #D18828;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn_user {
    background: none repeat scroll 0 0 padding-box #037971;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn_answ {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;

    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.typo, .list a {
    font: 2.3vh "Google Sans";
    color: #333333;
    text-decoration: none;
}
.typo option, .list a option {
    font: 2.3vh "Google Sans";
}

.transition {
    transition: all .4s ease-in-out;
}

.wrapper {
    height: 10vh;
    font: 5.3vh "Google Sans";
}

.list {
    width: 100vh;
    display: inline-block;
    position: relative;
    margin-left: 6px;
}
.list ul {
    border: #0c5460;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #FFFFFF;
    opacity: 20%;
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
}
.list ul .active {
    display: block;
}
.list li {
    list-style: none;
}
.list li:first-child a {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list a {
    font-size: 0.8em;
    transition: all .4s;
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.list a:after {
    position: absolute;
    content: '';
    height: 5px;
    left: 0;
    background: #0c5460;
    bottom: 0;
    transition: all .4s ease-out;
}
.list a:hover {
    cursor: pointer;
    color: #555555;
}
.list a:hover:after {
    width: 100%;
}

select {
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 1px solid #555;
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out;
}
select:hover {
    cursor: pointer;
}
select option {
    border: 0;
    border-bottom: 1px solid #0c5460;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.placeholder {
    border-bottom: 4px solid;
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.placeholder:hover {
    color: #888888;
}

.responstable {
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #037971;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #037971;
    color: #FFF;
    display: table-cell;
    text-align: center;
    padding: 1em;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) {
    width: 55vh;
    display: table-cell;
}
.responstable th:nth-child(3) {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(4) {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(5) {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
.responstable td:nth-child(3) {
    display: table-cell;
    text-align: center;
}
.responstable td:nth-child(4) {
    display: table-cell;
    text-align: center;
}
.responstable td:nth-child(5) {
    display: table-cell;
    text-align: center;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

#download {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #E87858;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 3.7vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.34286em;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

#download2 {
    visibility: hidden;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 21vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.63571em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
    z-index: 99;
}

#download2:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: -3px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download3 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #037971;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 3.5vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7486em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download3:before {
    background: url("man-user.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download4 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #B7392D;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 21vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download4:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download5 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #D18828;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 19.5vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download5:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

.user-menu-wrap {
    font: 2.3vh "Google Sans";
    width: 17vh;
    top: 1.2vw;
    right: 1.2vh;
    position: absolute;
}

.mini-photo-wrapper {
    display: block;
}

.mini-photo {
    border-radius: 50%;
}

.menu-container {
    visibility: hidden;
    opacity: 0;
}
.menu-container.active {
    list-style-type: none;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.user-menu {
    z-index: 101;
    list-style-type: none;
    font: 2.3vh "Google Sans";
    position: absolute;
    right: 5vh;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0em;
    margin-top: 35px;
}
.user-menu .user-menu-link {
    z-index: 101;
    list-style-type: none;
    cursor: pointer;
    display: block;
    font: 2.3vh "Google Sans";
    text-decoration: none;
    color: #444;
    padding: 5px 10px;
}
.user-menu .user-menu-link:hover {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    color: #fff;
}
.user-menu:before {
    list-style-type: none;
    position: absolute;
    margin-top: -1vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    /*border-bottom-color: #c7fe08;*/
}
.user-menu:after {
    z-index: 101;
    list-style-type: none;
    position: absolute;
    margin-top: -3.1vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.below_menu li {
    cursor: pointer;
    z-index: 101;
    list-style-type: none;
    font-family: "Google Sans", sans-serif;
    color: #FFFFFF;
}

.below_menu {
    z-index: 101;
    position: absolute;
    padding: 1em 0 0 10em;
    margin: -18.5em 0 0 -85em;
}

.user-menu-wrap2 {
    z-index: 101;
    list-style-type: none;
    font: 2.3vh "Google Sans";
    width: 16vh;
    top: 1.2vw;
    right: 19vh;
    position: absolute;
}

.mini-photo-wrapper2 {
    display: block;
}

.mini-photo2 {
    border-radius: 50%;
}

.menu-container2 {
    visibility: hidden;
    opacity: 0;
}
.menu-container2.active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.user-menu2 {
    list-style-type: none;
    font: 2.3vh "Google Sans";
    position: absolute;
    right: 5vh;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0em;
    margin-top: 35px;
    z-index: 100;
}
.user-menu2 .user-menu-link2 {
    list-style-type: none;
    cursor: pointer;
    z-index: 100;
    display: block;
    font: 2.3vh "Google Sans";
    text-decoration: none;
    color: #444;
    padding: 5px 10px;
}
.user-menu2 .user-menu-link2:hover {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    color: #fff;
}
.user-menu2:before {
    position: absolute;
    z-index: 100;
    margin-top: -1vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    /*border-bottom-color: #c7fe08;*/
}
.user-menu2:after {
    z-index: 100;
    position: absolute;
    margin-top: -7.2vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}