* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    filter: brightness(50%);
    opacity: 0.9;
}
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

body {
    font-family: "Google Sans";
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}

a {
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}
.row img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}

.scroll4::-webkit-scrollbar {
    width: 10px;
}

.scroll4::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.gallery ul li {
    float: left;
    margin: 0 0.8771929825%;
    overflow: hidden;
}

.gallery {
    padding: 40px 0 300px;
    position: relative;
    overflow: hidden;
}
.gallery ul {
    padding-top: 20px;
    position: relative;
}
.gallery ul li {
    margin-bottom: 20px;
    width: 23.2456140351%;
    position: relative;
}
.gallery ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 32.5%;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -16px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
    content: "";
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
    top: 50%;
    opacity: 1;
}
.gallery ul li a:after {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
    opacity: 1;
}

#btn_comm {
    margin-left: -30px;
}

.port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: #ffffff;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#fcell {
    padding: 0px 15px 0px 0px;
}

.commer {
    width: 46.1%;
    max-height: 26.7%;
    overflow: auto;
    margin-left: -1em;
}

#scell {
    width: 80px;
    padding: 0px -10px 0px 0px;
}

#tsell {
    padding: 0px 50px 0px 0px;
}

table {
    border: 1px;
    max-width: 525px;
}

.comments {
    margin-left: -1em;
    margin-top: 1em;
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 1) 0%, #0E5DC4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    max-width: 300px;
}

hr {
    margin: 10px 0px 0px 0px;
    width: 33em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.port img {
    width: 57%;
    margin: -10px 0px 0px 530px;
}
.port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
}

.port p {
    word-wrap:break-word;
    margin-left: -1em;
    max-width: 520px;
    font-size: 17px;
    line-height: 1.5;
    padding: 0;
}

.port h1 {
    word-wrap:break-word;
    max-width: 520px;
    margin-left: -0.5em;
    margin-top: -454px;
    font-size: 35px;
    line-height: 1.3;
    padding: 0;
}
.port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.close {
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: -40px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#logo {
    position: absolute;
    left: 2vh;
    top: 2vh;
    z-index: 1;
    cursor: pointer;
}

.menu ul {
    alignment: center;
    position: absolute;
    list-style-type: none;
    margin: 1.2vh 41vh;
    padding: 2vh;
    overflow: hidden;
    z-index: 1;
}

.menu li {
    float: right;
}

.menu li a {
    font-family: "Google Sans";
    color: white;
    font-size: 2.5vh;
    padding: 3vh;
}

#download {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #E87858;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 3.7vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.34286em;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

#download2 {
    visibility: hidden;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 21vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.63571em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
    z-index: 99;
}

#download2:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: -3px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download3 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #037971;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 3.5vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7486em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download3:before {
    background: url("man-user.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download4 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #B7392D;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 21vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download4:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download5 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #D18828;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 19.5vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download5:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

.field {
    margin: 12px 10px 0px -15px;
    width: 27%;
    border-bottom: 1px solid #037971;
}

input,
textarea {
    font-family: 'Google Sans';
    color: rgba(0, 0, 0, 0.8);
    display: block;
    margin: 5px;
    padding: 0px 18px 18px 30px;
    font-size: 15px;
    resize:none;
    overflow: hidden;
}

textarea:focus,
input:focus {
    outline: 0;
}
/* Question */

input.question,
textarea.question {
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0px 0px 0px;
    border: none;
    width: 105%;
    height: 5%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0px 0px -40px 15px;
    width: 10%;
    border-top: 1px solid #D1002A;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
    width: 30%;
}

input.question:focus,
input.question:valid {
    padding-top: 12px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 0px;
}

input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3)
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -70px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3)
}

input.question:valid + label,
textarea.question:valid + label {
    border-color: #037971;
}

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    font-weight: 100;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 15px;
    top: -46px;
    left: -15px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

.goland {
    width: 55%;
    height: auto;
    margin: 20px 0px 0px -465px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 17px;
    padding: 0 20px;
    min-width: 160px;
    height: 40px;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    border-radius: 10px;

    font-family: "Google Sans";
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -moz-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -webkit-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -o-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -ms-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
}

.contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.contact100-form-btn2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px 0px 0px 335px;
    padding: 0 10px;
    width: 160px;
    height: 40px;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    border-radius: 10px;

    font-family: "Google Sans";
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -moz-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -webkit-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -o-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
    -ms-box-shadow: 0 10px 30px 0px rgba(209, 0, 42, 0.6);
}

.contact100-form-btn2 i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn2:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn2:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.user-menu-wrap {
    font: 2.3vh "Google Sans";
    width: 17vh;
    top: 1.2vw;
    right: 1.2vh;
    position: absolute;
}

.mini-photo-wrapper {
    display: block;
}

.mini-photo {
    border-radius: 50%;
}

.menu-container {
    visibility: hidden;
    opacity: 0;
}
.menu-container.active {
    list-style-type: none;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.user-menu {
    z-index: 101;
    list-style-type: none;
    font: 2.3vh "Google Sans";
    position: absolute;
    right: 3vh;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0em;
    margin-top: 35px;
}
.user-menu .user-menu-link {
    z-index: 101;
    list-style-type: none;
    cursor: pointer;
    display: block;
    font: 2.3vh "Google Sans";
    text-decoration: none;
    color: #444;
    padding: 5px 10px;
}
.user-menu .user-menu-link:hover {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    color: #fff;
}
.user-menu:before {
    list-style-type: none;
    position: absolute;
    margin-top: -1vw;
    left: 2vh;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    /*border-bottom-color: #c7fe08;*/
}
.user-menu:after {
    z-index: 101;
    list-style-type: none;
    position: absolute;
    margin-top: -3.1vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.below_menu li {
    z-index: 101;
    list-style-type: none;
    font-family: "Google Sans", sans-serif;
    color: #FFFFFF;
}

.below_menu {
    z-index: 101;
    position: absolute;
    padding: 1em 0 0 10em;
    margin: -15em 0 0 -85em;
}

.user-menu-wrap2 {
    z-index: 101;
    list-style-type: none;
    font: 2.3vh "Google Sans";
    width: 16vh;
    top: 1.2vw;
    right: 19vh;
    position: absolute;
}

.mini-photo-wrapper2 {
    display: block;
}

.mini-photo2 {
    border-radius: 50%;
}

.menu-container2 {
    visibility: hidden;
    opacity: 0;
}
.menu-container2.active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.user-menu2 {
    list-style-type: none;
    font: 2.3vh "Google Sans";
    position: absolute;
    right: 5vh;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0em;
    margin-top: 35px;
    z-index: 100;
}
.user-menu2 .user-menu-link2 {
    list-style-type: none;
    cursor: pointer;
    z-index: 100;
    display: block;
    font: 2.3vh "Google Sans";
    text-decoration: none;
    color: #444;
    padding: 5px 10px;
}
.user-menu2 .user-menu-link2:hover {
    background: -webkit-linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    color: #fff;
}
.user-menu2:before {
    position: absolute;
    z-index: 100;
    margin-top: -1vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    /*border-bottom-color: #c7fe08;*/
}
.user-menu2:after {
    z-index: 100;
    position: absolute;
    margin-top: -7.2vw;
    right: 2vh;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

#download {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #E87858;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 3.7vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.34286em;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

#download2 {
    visibility: hidden;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 21vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.34286em 0.3714em 0.63571em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
    z-index: 99;
}

#download2:before {
    background: url("padlock.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: -3px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download3 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #037971;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 3.5vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7486em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download3:before {
    background: url("man-user.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download4 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #B7392D;
    border-radius: 4px;
    color: #FFFFFF;
    /*top: 1.2vw;*/
    /*right: 21vh;*/
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download4:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}

#download5 {
    visibility: hidden;
    background: none repeat scroll 0 0 padding-box #D18828;
    border-radius: 4px;
    color: #FFFFFF;
    top: 1.2vw;
    right: 19.5vh;
    display: inline-block;
    font: 2.3vh "Google Sans";
    padding: 0.32em 0.7286em 0.3714em 0.7071em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#download5:before {
    background: url("admin.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    left: 0px;
    top: -1.3px;
    vertical-align: middle;
    width: 12px;
}